# File: azure-pipelines\maven-release\common.yml
# Description: Publish common to maven central (sonatype)
# https://search.maven.org/search?q=g:com.microsoft.identity%20AND%20a:common
# Variable: 'commonVersion' was defined in the Variables tab
# Variable: 'ENV_VSTS_MVN_ANDROIDCOMMON_USERNAME' was defined in the Variables tab
# Variable: 'mvnAccessToken' was defined in the Variables tab
# https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/use-personal-access-tokens-to-authenticate
name: $(date:yyyyMMdd)$(rev:.r)

trigger: none
pr: none

resources:
  repositories:
  - repository: self
    type: git
    ref: master

jobs:
- template: ../templates/steps/maven-release/maven-release-jobs.yml
  parameters:
    project: common
    projectVersion: $(commonVersion)
    envVstsMvnAndroidAccessTokenVar: ENV_VSTS_MVN_ANDROIDCOMMON_USERNAME
    gradleAssembleReleaseTask: common:clean common:build common:assembleDistRelease -PshouldRenameBuildFile
    gradleGeneratePomFiletask: common:generatePomFileForDistReleasePublication
    aarSourceFolder: common/build/outputs/aar
    jarSourceFolder: common/build/outputs/jar
    pomSourceFolder: common/build/publications/distRelease
    gpgAar: true
    gpgSourcesJar: true
    gpgJavadocJar: false
    gpgJar: false
