# File: azure-pipelines\vsts-releases\catalog.yml
# Description: Publish catalog to internal feed
# https://identitydivision.visualstudio.com/Engineering/_packaging?_a=package&feed=AndroidADAL&package=com.microsoft.identity%3Acatalog&protocolType=maven
# Variable: 'ENV_VSTS_MVN_ANDROIDCOMMON_USERNAME' was defined in the Variables tab
# Variable: 'mvnAccessToken' was defined in the Variables tab
# https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/use-personal-access-tokens-to-authenticate
name: $(date:yyyyMMdd)$(rev:.r)

trigger: none
pr: none

resources:
  repositories:
    - repository: self
      type: git
      ref: master

jobs:
  - job: vsts_release
    displayName: Publish catalog to internal feed
    cancelTimeoutInMinutes: 1
    pool:
      name: 1ES-AndroidPool-EOC
    steps:
      - checkout: self
        clean: true
        submodules: recursive
        persistCredentials: True
      - task: CmdLine@1
        displayName: Set MVN AccessToken in Environment
        inputs:
          filename: echo
          arguments: '##vso[task.setvariable variable=ENV_VSTS_MVN_ANDROIDCOMMON_ACCESSTOKEN]$(mvnAccessToken)'
      - task: Gradle@2
        displayName: Publish to VSTS
        inputs:
          tasks: catalog:generatePomFileForMavenPublication catalog:publish
          publishJUnitResults: false
