# File: automation-cert-linux.yml

steps:
- task: AzureKeyVault@2
  displayName: 'Azure Key Vault: Download Cert for Automation'
  inputs:
    azureSubscription: 'AuthSdkResourceManager'
    KeyVaultName: 'msidlabs'
    SecretsFilter: 'LabVaultAccessCert'
- task: PowerShell@2
  displayName: Download Automation Cert
  inputs:
    targetType: inline
    script: >
      $kvSecretBytes = [System.Convert]::FromBase64String('$(LabVaultAccessCert)')

      $certCollection = New-Object System.Security.Cryptography.X509Certificates.X509Certificate2Collection

      $certCollection.Import($kvSecretBytes, $null, [System.Security.Cryptography.X509Certificates.X509KeyStorageFlags]::Exportable)

      $protectedCertificateBytes = $certCollection.Export([System.Security.Cryptography.X509Certificates.X509ContentType]::Pkcs12)

      $pfxPath = '$(Build.SourcesDirectory)' + "/LabVaultAccessCert.pfx"

      [System.IO.File]::WriteAllBytes($pfxPath, $protectedCertificateBytes)
      
      if([System.IO.File]::Exists($pfxPath)) {
        Write-Host "PFX file created successfully at $pfxPath"
      } else {
        Write-Error "Failed to create PFX file at $pfxPath"
      } 
