<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.microsoft.identity.common">

    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22" />

    <application>
        <activity
            android:name="com.microsoft.identity.common.internal.providers.oauth2.AuthorizationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask" />
        <!-- singleTask launchMode is required for the authorization redirect. -->

    </application>

</manifest>
