# File: azure-pipelines\pull-request-validation\lab-utilities.yml
# Description: Run test in LabApiUtilities
name: $(date:yyyyMMdd)$(rev:.r)

trigger: none

resources:
  repositories:
    - repository: self
      type: git
      ref: dev

pool:
  name: Hosted Windows 2019 with VS2019

variables:
  - group: MSIDLABVARS

jobs:
  - job: Phase_1
    displayName: Phase 1
    steps:
      - checkout: self
        clean: true
        submodules: recursive
        persistCredentials: True
      - template: ../templates/steps/automation-cert.yml
      - task: Gradle@1
        name: Gradle1
        displayName: Assembles the outputs of this project.
        inputs:
          cwd: $(Build.SourcesDirectory)/common-java-root
          tasks: LabApiUtilities:clean LabApiUtilities:assemble
      - template: ../templates/steps/spotbugs.yml
        parameters:
          project: LabApiUtilities
          cwd: $(Build.SourcesDirectory)/common-java-root
          spotbugsCommand: spotbugsMain
      - task: Gradle@2
        displayName: Run the unit tests.
        inputs:
          cwd: $(Build.SourcesDirectory)/common-java-root
          tasks: LabApiUtilities:test -Psugar=true -PlabSecret=$(LabVaultAppCert) -PfunctionApiCreateTempUserCode=$(LabVaultAppSecret) -PfunctionApiResetCode=$(LabVaultAppSecret)
      - task: Gradle@2
        displayName: Run the unit tests.
        inputs:
          cwd: $(Build.SourcesDirectory)/common-java-root
          tasks: LabApiUtilities:test -Psugar=true -PlabSecret=$(LabVaultAppCert) -PfunctionApiCreateTempUserCode=$(FunctionApiCreateTempUserCode) -PfunctionApiResetCode=$(FunctionApiResetCode)
...
